/*Importy*/
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
/*Obecné*/
*{
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    padding: 0.5em;
    color: #FFFAFF;
}
body{
        background-image: url(../img/background/background.png);
}
html,body{
    margin: 0;
    user-select: none;
    display: flex;
    justify-content: center;
}
/*Header*/
header{
    display: block;
    background-color: rgba(0, 0, 14, 0.829);
    height: 95px;
    position: absolute;
    top: 0;
    width: 100%;
    transition: 1s ease;
}
header:hover{
    background-color: rgba(209, 0, 98, 0.829);
}
/*Logo v headeru*/
header img{
    height: 90%;
    transition: 3s ease;
}
header img:hover{
    transform: rotate(-20deg);
}
/*Vnější obal dlaždic gamemodů*/
#gamemodeWrap{
    width: 90%;
    height: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
/*Footer*/
footer{
    position: fixed;
    bottom: 0;
    height: 7%;
    background-color: rgba(0, 0, 14, 0.829);
    width: 100%;
    display: block;
    text-align: center;
}
footer p{
    color: #FFFAFF;
    margin: auto;
}
/*Dlaždice gamemodů*/
.gamemode{
    width: 30%;
    height: 100%;
    border-radius: 30px;
    transition: 1s ease;
}
.gamemode:hover{
    filter: invert(1);
    position: relative;
    height: 110%;
    width: 33%;
}
/*Menu*/
#menuArea{
    height: 70%;
    width: 50%;
    position: absolute;
    background-color: rgba(0, 0, 14, 0.829);
    border-radius: 15px;
    margin-top: 8%;
    transition: 2s ease;
}
/*Kvíz*/
#quizArea{
    display: none;
    height: 70%;
    width: 50%;
    position: absolute;
    background-color: rgba(0, 0, 14, 0.829);
    border-radius: 15px;
    margin-top: 8%;
    transition: 2s ease;
}
/*Submit*/
#submit{
    background-color: rgb(209, 0, 98);
    color: #FFFAFF;
    font-size: large;
    margin-top: 5%;
    width: 20%;
    height: 8%;
    border-radius: 15px;
    border: none;
    margin-left: 40%;
    transition: 0.5s ease;
}
#submit:hover{
    box-shadow: #FFFAFF 0 5px;
    transform: translateY(-10px);
}
/*Otázka(text)*/
#questionHeadline{
    color: #FFFAFF;
    font-size: xx-large;
}
/*Tlačítka odpovědí*/
.answerBTN{
    width: 20%;
    border-radius: 15px;
    border: #FFFAFF 2px solid;
    background-color: transparent;
    color: #FFFAFF;
    font-size: 1.5em;
    transition: 0.5s ease;
}
.answerBTN:hover{
    box-shadow: rgb(209, 0, 98) 0 10px;
    transform: translateY(-10px);
}
/*Obal tlačítek odpovědí*/
#answerWrap{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
/*Počítadlo score*/
#correctCounter{
    color: #FFFAFF;
    font-size: larger;
    text-align: center;
    display: block !important;
}
/*Wrap pro tlačítka akcí*/
#utilButtonWrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/*Tlačítko pro opakování kvízu*/
#againButton{
    display: none;
    font-size: larger;
    border-radius: 15px;
    border: #FFFAFF 2px solid;
    background-color: transparent;
    color: #FFFAFF;
    width: 20%;
}
#menuButton{
    display: none;
    font-size: larger;
    border-radius: 15px;
    border: #FFFAFF 2px solid;
    background-color: transparent;
    color: #FFFAFF;
    width: 20%;
}
/*Výsledek odpovědi*/
#result{
    font-size: x-large;
    display: block !important;
    width: 100%;
    text-align: center;
}
#time{
    width: 98%;
    height: 30px;
    position: absolute;
    bottom: 0;
}
/*Responzivita pro menší obrazovky*/
@media screen and (max-width: 950px) {
    header{
        height: 60px;
    }
    .answerBTN{
        width: 100%;
        margin: auto;
        margin-top: 2%;
        height: 20%;
        padding: 0.2em;
    }
    #answerWrap{
        width: 95%;
        height: 50%;
        margin: auto;
        flex-direction: column;
    }
    #quizArea{
        width: 100%;
        margin-top: 10%;
        height: 75%;
    }
    #menuArea{
        width: 100%;
        margin-top: 10%;
        height: 75%;
    }
    #questionHeadline{
        font-size: x-large;
    }
    #submit{
        margin-top: 2%;
    }
    .gamemode{
        width: 40%;
        height: 50%;
    }
    .gamemode:hover{
        height: 50%;
        width: 40%;
    }
    #gamemodeWrap{
        flex-direction: column;
    }
}