@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    padding: 0.5em;
}
body{
        background-image: url(../img/background/background.png);
}
html,body{
    margin: 0;
    user-select: none;
    display: flex;
    justify-content: center;
}
#quizArea{
    height: 70%;
    width: 50%;
    position: absolute;
    background-color: rgba(0, 0, 49, 0.829);
    border-radius: 15px;
    margin-top: 8%;
    transition: 2s ease;
}
#submit{
    background-color: rgb(209, 0, 98);
    color: #FFFAFF;
    font-size: large;
    margin-top: 5%;
    width: 20%;
    height: 8%;
    border-radius: 15px;
    border: none;
    margin-left: 40%;
}
#submit:hover{
    box-shadow: #FFFAFF 0 5px;
    transform: translateY(-10px);
}
#questionHeadline{
    color: #FFFAFF;
}
.answerBTN{
    width: 20%;
    border-radius: 15px;
    border: #FFFAFF 2px solid;
    background-color: transparent;
    color: #FFFAFF;
    font-size: 1.5em;
}
.answerBTN:hover{
    box-shadow: rgb(209, 0, 98) 0 10px;
    transform: translateY(-10px);
}
#answerWrap{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
header{
    display: block;
    background-color: rgba(0, 0, 49, 0.829);
    height: 95px;
    position: absolute;
    top: 0;
    width: 100%;
    transition: 1s ease;
}

header:hover{
    background-color: rgba(209, 0, 98, 0.829);
}

header img{
    height: 90%;
    transition: 3s ease;
}
header img:hover{
    transform: rotate(-20deg);
}
#correctCounter{
    color: #FFFAFF;
    font-size: larger;
    text-align: center;
}
#againButton{
    display: none;
    font-size: larger;
    border-radius: 15px;
    border: #FFFAFF 2px solid;
    background-color: transparent;
    color: #FFFAFF;
    width: 20%;
    margin-left: 40%;
}
#result{
    font-size: x-large;
    text-align: center;
}
footer{
    position: fixed;
    bottom: 0;
    height: 7%;
    background-color: rgba(0, 0, 49, 0.829);
    width: 100%;
    display: block;
    text-align: center;
}
footer p{
    color: #FFFAFF;
    margin: auto;
}

@media screen and (max-width: 1000px) {
    .answerBTN{
        width: 100%;
        margin: auto;
        margin-top: 2%;
        height: 20%;
    }
    #answerWrap{
        width: 95%;
        height: 50%;
        margin: auto;
        flex-direction: column;
    }
    #quizArea{
        width: 100%;
        margin-top: 10%;
        height: 80%;
    }
    header{
        height: 60px;
    }
    #questionHeadline{
        font-size: large;
    }
    #submit{
        margin-top: 2%;
    }
}