*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5em;
}
html,body{
    margin: 0;
    user-select: none;
    background-color: #E1E5F2;
    display: flex;
    justify-content: center;
}
#quizArea{
    height: 600px;
    width: 900px;
    border: 2px solid #1F7A8C;
    border-radius: 15px;
    margin-top: 10%;
}
#submit{
    background-color: #022B3A;
    color: #E1E5F2;
    margin-top: 10%;
};
